@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align: center
}

.article-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;

}

.article-title{
	font-weight: bold;
	font-size: 1.5em
}

.article-body{
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
    padding-top: 15px;
}

.description{
	margin-top: 0
}